node_modules
.DS_Store
.env
*.env.local
dist
.build 

apps/backend/coverage
apps/backend/dist
apps/backend/.env
apps/backend/node_modules
apps/frontend/dist
apps/frontend/node_modules

packages/common/dist

# sst
.sst
